# This is Git's per-user configuration file.
[user]

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	a = add
	undo-commit = revert
	undo-changes-in-tracked-files = reset --hard
	reset-tracked-files = reset --hard
	cl-wc = clean -f
	ac = '!add -A && git commit'
